body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
img{border:none;}
em,strong{font-style:normal;font-weight:normal;}
li{list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
q:before,q:after{content:'';}
a{ text-decoration: none; }
a:hover,a:visited,a:link{text-decoration: none;}
html{ font-family: '微软雅黑','Hiragino Sans GB'; }
.placeholder{
    color: #bfbfbf;
}