.banner{
	width: 100%;
	min-height: 100px;
	margin-top: 65px;
	position: relative;
}
.banner .container{
	width: 100%;
	padding: 0;
}
.banner .container .row{
	margin: 0;
}
.banner .containe .row>div{
	padding: 0;
	display: none;
}

.img-wrap{
	position: relative;
	height: 500px;
	background: url('../img/index/bg3.png') no-repeat center;
	background-size: 100% 100%;
}
.img-wrap2{
	background: url('../img/news/bg.jpg') no-repeat center;
	background-size: 100% 100%;
}
.img-wrap3{
	background: url('../img/index/bg3-1.jpg') no-repeat center;
	background-size: 100% 100%;
}
.wenzi-img{
	position: absolute;
	width: 300px;
	height: 130px;
	bottom: 65px;
	left: 55px;
	background: url('../img/index/bg1-2.png') no-repeat center;
	background-size: contain;
}
.big-img{
	position: absolute;
	width: 640px;
	height: 430px;
	bottom: 0;
	right: 0;
	background: url('../img/index/bg1-3.png') no-repeat center;
	background-size: contain;
}
.big-img2{
	background: url('../img/index/bg2-4.png') no-repeat center;
	background-size: contain;
}
.big-img3{
	background: url('../img/index/bg3-2.png') no-repeat center;
	background-size: contain;
}
.video{
	width: 382px;
	height: 256px;
	position: relative;
	top: 23px;
	left: 125px;
}
.video video{
	object-fit:fill;
	width: 100%;
	height: 100%;
}
.pagenation{
	position: absolute;
	width: 100px;
	height: 20px;
	bottom: 10px;
	left: 50%;
	margin-left: -50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagenation ul li{
	float: left;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 6px;
	border-radius: 50%;
	background: #006597;
}
.pagenation .active{
	background: none;
	border: 2px solid #9EB737;
}
.enlarge-banner{
	width: 100%;
	height: 790px;
	background: url('../img/index/bg.png') no-repeat center;
	background-size: cover;
}
.title{
	padding-top: 20px;
	width: 530px;
	height: 120px;
	margin: 0 auto;
	text-align: center;
}
.title p{
	padding-top: 10px;
	font-size: 16px;
}
.banner-wrap{
	width: 80%;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.banner-wrap ul {
	width: 500%;
	height: 100%;
	display: flex;
	align-items: center;
	opacity: 0;
} 
.banner-wrap ul li{
	float: left;
	width:192px;
    height:315px;
    transition: all 0.3s;
}
.banner-wrap ul li img{
	width: 100%;
}
.banner-wrap .btn{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.banner-wrap .left{
	left: 0;
	background: url('../img/index/t_l.png') no-repeat center;
	background-size: contain;
}
.banner-wrap .right{
	right: 0;
	background: url('../img/index/t_r.png') no-repeat center;
	background-size: contain;
}
.banner-wrap .slide{
	width: 240px;
    height: 396px;
}
.banner-wrap .mid{
	width: 288px;
    height: 475px;
}
.partner{
	height: 500px;
	width: 100%;
}
.partner .container{
	width: 860px;
	height: 380px;
	margin: 0 auto;
}
.partner .container .row div{
	text-align: center;
	padding-top: 50px;
	/* padding-bottom: 30px; */
}
/* .partner .container>.row{
	height: 100%;
} */